<html>
<head>
    <title>Configure cache pool sizing mode</title>
    <script>
        function showParams() {
            var mode = document.getElementById("mode");
            var autoParams = document.getElementById("autoParams");
            var manParams = document.getElementById("manParams");
            if (mode.value === "auto") {
                autoParams.style.display = "block";
                manParams.style.display = "none";
            } else {
                manParams.style.display = "block";
                autoParams.style.display = "none";
            }
        }
        function decrement() {
            var numNodesValue = document.getElementById("numNodesValue");
            var currentValue = parseInt(numNodesValue.innerHTML);
            if (currentValue > 1) {
                numNodesValue.innerHTML = currentValue - 1;
            }
        }
        function increment() {
            var numNodesValue = document.getElementById("numNodesValue");
            var currentValue = parseInt(numNodesValue.innerHTML);
            if (currentValue < 8) {
                numNodesValue.innerHTML = currentValue + 1;
            }
        }
        function submitForm() {
            var valueSpan = document.getElementById('numNodesValue');
            var valueInput = document.getElementById('numNodes');
            valueInput.value = valueSpan.innerText;
            document.getElementById('pool').submit();
        }
	</script>
</head>
<body>
    <form id="pool" action="/api/configure_cache" method="get">

        <label for="mode">Choose a resizing mode</label>
        
        <select id="mode" name="mode" onchange="showParams()">
            <option value="manual">Manual</option>
            <option value="auto">Automatic</option>
        </select>

        <div id="manParams" style="display: block;">
            <button id="decr">-</button>
            <span id="numNodesValue">{{numNodes}}</span>
            <button id="incr">+</button>
        </div>
        <input type="hidden" name="numNodes" id="numNodes">

        <div id="autoParams" style="display: none;">
            <label for="maxMiss">Max Miss Rate threshold: </label>
            <input type="text" id="maxMiss" name="maxMiss"><br>
            <label for="minMiss">Min Miss Rate threshold: </label>
            <input type="text" id="minMiss" name="minMiss"><br>
            <label for="expRatio">Ratio by which to expand the pool: </label>
            <input type="text" id="expRatio" name="expRatio"><br>
            <label for="shrinkRatio">Ratio by which to shrink the pool: </label>
            <input type="text" id="shrinkRatio" name="shrinkRatio"><br>
        </div>

        <button onclick="submitForm()" type="submit">Submit</button>

    </form>
    <script>
        var decr = document.getElementById('decr');
        decr.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the form from being submitted
            decrement();
        });
        var incr = document.getElementById('incr');
        incr.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the form from being submitted
            increment();
        });
    </script>
</body>
</html>