<!DOCTYPE html>
<head>
    <title>Manager UI</title>
</head>
<html>
    <body>
        <ul>
            <li><a href="{{ url_for('displayCharts')}}">Display Charts</a></li>
            <li><a href="{{ url_for('configureCache')}}">Configure Cache</a></li>
            <li><a href="{{ url_for('configureCachePoolSizingMode')}}">Configure Cache Pool Sizing Mode</a></li>
            <li><a href="{{ url_for('deleteAllData')}}">Delete all data</a></li>
            <li><a href="{{ url_for('clearCache')}}">Clear Cache</a></li>
        </ul>
    </body>    
</html>